@model WebApp.DTO.RawMaterialDTO
@{
    ViewBag.Title = "EditRawMaterial";
}

<h2>EditRawMaterial</h2>

@using (Html.BeginForm("EditRawMaterial", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Material_id)

    <div class="form-group mb-3">
        <label for="name">Navn</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="form-group mb-3">
        <label for="unit" class="form-label">Enhed</label>
        <select class="form-control" id="unit" name="unit" required>
            @foreach (var type in ViewBag.MeasurementTypes)
            {
                <option value="@type.Name" @(type.Name.Equals(Model.MeasurementType) ? "selected" : "")>@type.Name</option>
            }
        </select>
    </div>

    <div class="form-group mb-3">
        <label for="amount" class="form-label">Lagerbeholdning</label>
        <input type="number" class="form-control" id="amount" name="amount" placeholder="Indtast mængde" min="0" step="0.5" value="@Model.FullAmount" required />
    </div>



    <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg w-25 mb-5">Bekræft</button>
    </div>
}