@model List<WebApp.DTO.ProductProductionDTO>
@{
    ViewBag.Title = "Produktion";
}

<div class="top-bar">
    <div class="search-container">
        <form action="">
            <button type="submit">
                <i class="bi-box-fill"></i>
                <i class="bi bi-search"></i>
            </button>
            <input type="text" placeholder="Search..." name="Search">
        </form>
    </div>
</div>

<div class="body">
    <div class="crud">
        <button class="crud-btn create-new" onclick="location.href='@Url.Action("CreateProductProductionView", "Home")'">Opret Ny</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Produktionsnummer</th>
                <th>Produktionsnavn</th>
                <th>Planlagt Antal</th>
                <th>Startdato</th>
                <th>Slutdato</th>
                <th>Status</th>
                <th>Rediger</th>
                <th>Slet</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var production in Model)
            {
                <tr>
                    <td>@production.ProjectId</td>
                    <td>@production.ProjectName</td>
                    <td>@production.QuantityToProduce</td>
                    <td>@production.CreatedAt</td>
                    <td>@production.Deadline </td>
                    <td>@production.Status</td>
                    <td><button class="crud-btn create-new" onclick="location.href='@Url.Action("EditProductProduction", "Home", new { name = production.ProjectName})'">Rediger</button></td>
                    <td>
                        <button class="crud-btn in-progress" onclick="confirmDelete('@Url.Action("DeleteProductProduction", "Home", new { name = production.ProjectName })')">Slet</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function confirmDelete(deleteUrl) {
        if (confirm("Er du sikker på, at du vil slette denne productproduction?")) {
            window.location.href = deleteUrl;
        }
    }
</script>
