@model WebApp.DTO.RawMaterialDTO
@{
    ViewBag.Title = "EditRawMaterial";

    if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    @Html.ValidationSummary(false, "", new {@class = "text-danger" })
                </div>
            }
}

<h2>EditRawMaterial</h2>

@using (Html.BeginForm("EditRawMaterial", "RawMaterial", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Material_id)

    <div class="form-group mb-3">
        <label for="name">Navn</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="form-group mb-3">
        <label for="unit" class="form-label">Enhed</label>
        <select class="form-control" id="unit" name="unit" required>
            @foreach (var type in ViewBag.MeasurementTypes)
            {
                <option value="@type.Name" @(type.Name.Equals(Model.MeasurementType.Name) ? "selected" : "")>@type.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg w-25 mb-5">Bekræft</button>
    </div>
}