@model WebApp.DTO.RawMaterialDTO
@{
    ViewBag.Title = "ShowRawMaterial";
}

<h2>Oversigt @Model.Name</h2>

<div class="body">
    <p><strong>Total Mængde:</strong> @Model.FullAmount() @Model.MeasurementType</p>

    
    <table class="table table-striped w-25">
        <thead>
            <tr>
                <th>Mængde</th>
                <th>Udløbsdato</th>
                <th>Fjern</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Stocks)
            {
                <tr>
                    <td>@item.Amount</td>
                    <td>@item.ExpirationDate</td>
                    <td>
                        <form action="@Url.Action("DeleteRawMaterialStock", "Home")" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@item.Id" />
                            <input type="hidden" name="rawMaterialId" value="@Model.Material_id"/>
                            <input type="hidden" name="amount" value="@item.Amount"/>
                            <button type="submit" class="btn btn-danger">Slet</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>